body {
  background-color: whitesmoke;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}
p {
  font-family: "Montserrat", sans-serif;
}

.cards-container {
  /*set grid for cards*/
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, 26rem); /*33.3%*/
  grid-template-rows: repeat(auto-fit, 50%);
}
.card-container {
  /*make the border and height of the cards and the area they take up*/
  border: solid black 1px;
  border-radius: 3px;
  min-height: 35rem;
  max-height: 35rem;
  margin-top: 0.5rem;
  /* margin-top: 40px; */
  /* height: 90%; */
  background-color: rgba(194, 194, 194, 0.582);
}
/*controls the background images of the cards labeled 1-5 top left to right▼*/
.background-1 {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  filter: blur(4px);
}
.background-2 {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  clip-path: inset(0 0 75% 0);
}
.background-3 {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  backdrop-filter: blur(20px);
  clip-path: polygon(0% 0, 100% 0%, 100% 17.5%, 0 35%);
}
.background-4 {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  clip-path: inset(0 0 75% 0);
}

.card-container-1 {
  backdrop-filter: blur(
    0px
  ); /*the backdrop filter contains the images to the containers*/
}
.card-container-2 {
  backdrop-filter: blur(0px);
}
.card-container-3 {
  backdrop-filter: blur(0px);
}
.card-container-4 {
  backdrop-filter: blur(0px);
}
/*controls the background images of the cards labeled 1-5 top left to right▲*/
.card-container-5 {
  margin-top: 40px;
}

/* set the position of the text within the profile cards and social icons ▼*/
.about-profile-container,
.name-container,
.icons-container {
  display: flex;
  justify-content: center;
}
.name-container {
  font-weight: 600;
  font-size: larger;
}
/*making changes to name 2 in card 2▼*/
.name-2 {
  margin-left: 16px;
  display: flex;
  justify-content: left;
}
.about-2 {
  margin-left: 16px;
  margin-right: 16px;
  display: flex;
  justify-content: left;
}

/* making changes to name 2 in card 2▲ */
/* making changes to card 4 ▼ */
.about-4 {
  display: flex;
  justify-content: center;
  margin: 16px;
  overflow-wrap: normal;
}
/* making changes to card 4 ▲ */
/*making changes to card 5▼*/
.name-5 {
  /*card 5 setting the name to the left*/
  margin-left: 16px;
  display: flex;
  justify-content: left;
}
.about-5 {
  /*setting the about section on card 5 to the left as well*/
  margin-left: 16px;
  margin-right: 16px;
  display: flex;
  justify-content: left;
}
.go-somewhere-btn-container {
  margin-left: 16px;
  display: flex;
  justify-content: left;
  margin: 16px;
}
.go-somewhere {
  color: white;
  background-color: darkgreen;
  border: none;
  padding: 0.5rem;
  margin-bottom: 16px;
}
/*making changes to card 5▲*/
/* set the position of the text within the profile cards▲ */
/* social icons facbook, twitter,googleplus ▼ */
.icons-container {
  margin: 1em;
}
.icons-container > a > i {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 100%;
  padding: 0.5rem;
  max-height: 0.9rem;
  max-width: auto;
  margin-right: 10px;
  color: rgb(245, 9, 245);
}
.icons-container-2 {
  display: flex;
  justify-content: left;
}
.icons-container > a > i {
  margin-bottom: 10px;
}
/*end social icons facbook, twitter,googleplus ▲ */
/* profile image ▼ */
.profile-image-container {
  margin-top: 25%;
  display: flex;
  justify-content: center;
}
.profile-image-container > img {
  border-style: solid;
  border-color: white;
  border-width: 2px;
  border-radius: 150%;
  width: 4em;
  height: auto;
}
.profile-image-container-2 {
  display: flex;
  justify-content: left;
  margin-left: 16px;
}

.profile-image-container-square > .square-box {
  border-radius: 10px;
  width: 90%;
  max-height: 25%;
  box-shadow: 10px 10px 5px rgba(230, 230, 230, 0.945);
  margin-top: -15px;
  border-style: none;
}
.profile-image-container-5 {
  display: flex;
  justify-content: center;
}
/* end profile image▲ */
/*card type describes the type of card at the bottom▼*/
.card-type {
  display: flex;
  justify-content: center;
  font-weight: 600;
  margin: 16px;
}
