body {
  background-color: whitesmoke;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}
p {
  font-family: "Montserrat", sans-serif;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
  grid-template-rows: repeat(3, 50%);
}
.card-container {
  border: solid black 1px;
  border-radius: 3px;
  max-height: 500px;
  margin: 16px;
  /* width: 100%; */
  /* max-width: 100%; */
  height: 75%;
  /* max-height: 75%; */
}
/* set the position of the text within the profile cards ▼*/
.about-profile-container,
.name-container {
  display: flex;
  justify-content: center;
}
/*making changes to name 2 in card 2▼*/
.name-2 {
  margin-left: 16px;
  display: flex;
  justify-content: left;
}
.about-2 {
  margin-left: 16px;
  margin-right: 16px;
  display: flex;
  justify-content: left;
}
/* making changes to name 2 in card 2▲ */
/* making changes to card 4 ▼ */
.about-4 {
  display: flex;
  justify-content: center;
}
/* making changes to card 4 ▲ */
/*making changes to card 5▼*/
.name-5 {
  /*card 5 setting the name to the left*/
  margin-left: 16px;
  display: flex;
  justify-content: left;
}
.about-5 {
  /*setting the about section on card 5 to the left as well*/
  margin-left: 16px;
  margin-right: 16px;
  display: flex;
  justify-content: left;
}
.go-somewhere-btn-container {
  margin-left: 16px;
  display: flex;
  justify-content: left;
  margin: 16px;
}
.go-somewhere {
  color: white;
  background-color: darkgreen;
  border: none;
  padding: 0.5rem;
}
/*making changes to card 5▲*/
/* set the position of the text within the profile cards▲ */
/* social icons facbook, twitter,googleplus ▼ */
.icons-container {
  margin: 1em;
}
.icons-container > a > i {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 100%;
  padding: 0.5rem;
  max-height: 0.9rem;
  max-width: auto;
  margin-right: 10px;
}
/*end social icons facbook, twitter,googleplus ▲ */
/* profile image ▼ */
.profile-image-container {
  margin: 5px;
}
.profile-image-container > img {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 150%;
  max-width: 4em;
  max-height: auto;
}
/* end profile image▲ */
/*card type describes the type of card at the bottom*/
.card-type {
  display: flex;
  justify-content: center;
}
